/*General CSS*/
* {

}

html{
}

body{
    
}
/*ends*/

/* begins*/

.container {
    background-color: #ccc;

}
.mainb {
    background-color: #ce1414;
    color: #ffffff;
}

.maina {
    background-color: #ffffff;
}

.logo-text {
    text-align: center;
}

.logo-text span {
    font-size: 60px;
    font-weight: 700;   
}
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/









/* begins*/
/*ends*/
