/*General CSS*/
* {

}

html{
}

body{
    background-color: #f4f5f6;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
/*ends*/

/*Header CSS begins*/
.container{
    background-color: #ccc;
    width: inherit;

}

.mainb{
    background-color: #ce1414;
    color: #ffffff;
}

.maina{
    background-color: #ffffff;
}

.logo-text{
    text-align: center;
}

.logo-text span{
    font-size: 60px;
    font-weight: 700;
}

.red{
    background: red;
    color: #ffffff;
}

.white{
    background: #ffffff;
    border-bottom: 2px solid #ccc;
}

nav{
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
}

.nav{
    display: flex;
    font-weight: 700;
    font-family: "Roboto Condensed",sans-serif;
    list-style: none;
}
/*Header CSS ends*/

/* begins*/
.container-fluid{
  text-align: center;
  background-color: #fff;
}

#top-line{
  position: relative;
  left: 145px;
  width: 75%;
}

.row{
  margin-top: 5px;
}

h1{
  text-transform: capitalize;
  text-indent: 100px;
  font-size: 21px !important;
  font-weight: bold !important;
  padding-top: 10px;
  margin-bottom: -5px;
}

h2{
  color: #000;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;

}

h2 span{
  background-color: #f33;
  color: #fff;
}

#feature-link{
  background-color: #fff !important;
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/embed-xs/public/2019/01/24/20190201-08cover1800x2400.jpg);
  background-size: cover;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  height: 330px;
  margin-top: -40px;

}

#feature-link h2{
  background-color: #ccc;
  color: #f00;
  position: relative;
  top: 290px;
  left: -15px;
  width: 70%;
}

.col-sm{
  text-align: left;
  background-color: #ddd;
  margin: 0px 10px 0px 10px;
  height: 250px;
  border: 1px solid #ddd;
}

#box-1{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/md_thumb/public/2019/01/22/perimpeachment01use-banner.jpg);
  background-size: cover;
}

#box-2{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/md_thumb/public/2019/01/22/femerkel011071748920use-banner.jpg);
  background-size: cover;
}

#box-3{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/md_thumb/public/2019/01/22/culroma01new-banner.jpg);
  background-size: cover;
}

#box-4{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/md_thumb/public/2019/01/16/fetrumpchina081079012834.jpg);
  background-size: cover;
}

#box-5{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/md_thumb/public/2019/01/16/fetrumpchina01use-banner.jpg);
  background-size: cover;
}

#box-6{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/md_thumb/public/2019/01/14/culmagicians01use-banner.JPG);
  background-size: cover;
}

#box-7{
  background-image: url(https://www.newsweek.com/#front_page);
  background-size: cover;
}

#post-menu{


}

#post-menu div{
  text-align: left;
  background-color: #fff;
  padding-left: 0;
  border: 1px solid #fff;
  font-weight: bold;
}

#fl-menu{
  text-align: center !important;
  margin-top: -25px;
  background-color: #ddd !important;
  height: 50px !important;
  display: inline-table;



}

.fl-menu{
  margin-left: 10px;
  background-color: inherit;
  font-size: 18px !important;
  margin-left: 50px;
  height: 70px;
  display: table-cell;
  vertical-align: middle;
}

#hl-menu1, #hl-menu2, #hl-menu3{
  margin-top: -30px !important;
  height: 100px !important;

}

#post-menu2 div{
  text-align: left;
  background-color: #fff;
  height: 100px;
  padding-left: 0;
  border: 1px solid #fff;
  font-weight: bold;
}
/*ends*/

/* begins*/
#img-box div{
  display: inline-table;
  text-align: left;
  border: 1px solid #ccc;
  padding-top: 220px;
  padding-left: -50px;

}

#img-box h2{
  margin-left: -20px;
  width: auto;
  border: 1px solid #fff;
  display: table-cell;
  vertical-align: bottom;
  background-color: #eee;
  position: relative;
  left: -15px;
}

#post-menu3 div, #post-menu4 div{
  text-align: left;
  background-color: #fff;
  height: 160px;
  padding-left: 0;
  border: 1px solid #fff;
  font-weight: bold;
}

#post-menu3 div p, #post-menu4 div p{
  font-weight: lighter;
  font-size: 15px;
}

#box-8{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2019/02/05/donald-trump-impeachment.jpg);
  background-size: cover;
}

#box-9{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2019/02/05/trump-mar-lago-taxpayers-millions.jpg);
  background-size: cover;
}

#box-10{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2018/06/12/american-flag.jpg);
  background-size: cover;
}

#box-11{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2019/02/05/seals-rocks-nz.jpg);
  background-size: cover;
}

#box-12{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2019/02/05/erick-jamal-hendricks-isis-sentenced.jpg);
  background-size: cover;
}

#box-13{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2019/02/05/adolf-hitler-paintings-nazi-artwork-auction-nuremburg.jpg);
  background-size: cover;
}

#box-14{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2019/02/05/iud-contrapcetion-stock-getty.jpg);
  background-size: cover;
}

#box-15{
  background-image: url(https://s.newsweek.com/sites/www.newsweek.com/files/styles/sm/public/2019/01/10/earths-magnetic-field.jpg);
  background-size: cover;
}
/*ends*/

/* begins*/
#fs-box{
  height: 320px;
}

#fs-box div{
  height: 300px;
  margin-top: 10px;
}

#fs-textbox{
  height: 55px;
}

#fs-textbox div{
  height: 50px;
  margin-top: 2px;
  background-color: inherit;
  border: none;
}

#fs-textbox div h2{
  margin-left: -15px;
}

#fs-textbox div h2:hover{
  text-decoration: underline;
  text-decoration-color: #f23;
}
/*ends*/

/* begins*/
.category-line{
  text-indent: -97%;
  color: #f23;
  font-size: 21px;
}

#us-box{
  height: 350px;
}

#list-box{
  background-color: #fff;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: 1px solid #fff;
}

#list-box div{
  margin: 0;

}

#us-box div{
  margin-top: 15px;
  padding: 10px;
  height: 320px;
}

#us-box div hr {
  margin: 10px 0 20px 0;
}

#xf{
  padding: 0;
  width: inherit;
  height: 110px !important;
  margin-top: -10px !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#xf div{
  margin-top: -10px;
  margin-left: 1px;
  width: inherit;
  height: inherit;
  background-color: #888;
  font-weight: bold;
  font-size: 15px;
}

#li-img3, #li-img4, #li-img5{
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-right: 15px solid #fff;
  background-color: #bbb !important;
}

#li-img3{}
#li-img4{}
#li-img5{}
/*ends*/

/* begins*/
#li-img, #li-img1, #li-img2{
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-right: 15px solid #fff;
  background-color: #bbb !important;
}

#li-img{}
#li-img1{}
#li-img2{}
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/

/* begins*/
/*ends*/
